<div class="cart">
  <div class="cart__global">
    <div class="cart__container">
      <span class="cart__destacado">su carrito</span>
      <div
        class="cart__contaner--products"
        *ngFor="let product of carritoActual; let i = index"
      >
        <img [src]="product.imgs[0]" alt="" class="cart__img" />
        <div class="cart__container--details">
          <span class="cart__details--bold">
            {{ product.title }} {{ product.talla | uppercase }}
          </span>
          <span class="cart__detail--light"
            >Cantidad: {{ product.cantidad }}
          </span>
        </div>
        <div class="cart__delete--container">
          <i class="pi pi-times delete--icon"></i>
          <span class="cart__precio--coleccion">
            {{ product.precioTotal }}€
          </span>
        </div>
      </div>
    </div>

    <div class="cart__subcontainer">
      <span class="cart__details--bold">
        Subtotal <span>{{ precioTotal?.subtotal | roundNumber }} €</span>
      </span>
      <span class="cart__detail--light">
        Impuesto ( 21% )
        <span>{{ precioTotal?.inpuesto | roundNumber }} €</span>
      </span>
      <span class="cart__details--bold">
        Total: <span>{{ precioTotal?.total | roundNumber }} €</span>
      </span>
      <button
        pButton
        class="p-button-secondary"
        label="Finalizar pedido"
      ></button>
    </div>
  </div>
</div>
