.header {
  background-color: rgb(255, 255, 255);
  position: fixed;
  width: 100%;
  z-index: 10;

  &__flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
  &__icons--navigate {
    cursor: pointer;
  }
  &__container {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  &__logo {
    width: 3rem;
    cursor: pointer;
  }
  &__nav {
    background-color: rgba(255, 255, 255, 0.723);
    position: fixed;
    height: 100vh;
    width: 100vw;
    transition: 0.5s all;
    //esconder el nav
    left: -100%;
  }
  &__nav--side {
    background-color: rgb(255, 255, 255);
    height: 100%;
    width: 15rem;
    padding: 1rem;
  }
  &__ul {
    display: flex;
    align-items: flex-start;
    flex-flow: column nowrap;
    justify-content: center;
    gap: 1rem;
  }
  &__li--strong {
    cursor: pointer;
    transition: 0.4s all;
    opacity: 1;
    font-weight: bold;
    margin-bottom: 1rem;
    &:hover {
      transition: 0.4s all;
      opacity: 0.8;
      color: rgb(222, 222, 222);
    }
  }
  &__li {
    cursor: pointer;
    transition: 0.4s all;
    opacity: 1;
    font-size: 0.8rem;
    &:hover {
      transition: 0.4s all;
      opacity: 0.8;
      color: rgb(222, 222, 222);
    }
  }
  &__nav--wrapper {
    // max-width: 1500px;
  }
}
i {
  display: flex;
  gap: 0.4rem;
}

.wrapper {
  max-width: 1850px;
  margin: auto;
}

.router--outlet {
  padding: 8rem 1rem 1rem 1rem;
}
.menu-visible {
  transition: 0.5s all;
  left: 0;
}
.icon {
  cursor: pointer;
}
