<header class="header">
  <div class="header__flex">
    <div class="header__container">
      <i class="pi pi-bars" style="font-size: 1.5rem"></i>
      <img
        src="assets/logo-madkat.png"
        alt="logo madkat"
        class="header__logo"
      />
    </div>
    <div class="header__container">
      <i class="pi pi-user">Cuenta</i>
      <i class="pi pi-shopping-cart">Carrito</i>
    </div>
  </div>
  <nav class="header__nav">
    <h1>hola</h1>
  </nav>
</header>
<!-- Componente home -->
<router-outlet></router-outlet>
<!-- Componente footer -->
