<header class="header">
  <div class="header__flex wrapper">
    <div class="header__container">
      <i
        (click)="ocultarMenu()"
        *ngIf="menuVisible$ | async; else cerrarMenu"
        class="pi pi-times icon"
        style="font-size: 1.5rem"
      ></i>
      <ng-template #cerrarMenu>
        <i
          (click)="mostrarMenu()"
          class="pi pi-bars icon"
          style="font-size: 1.5rem"
        ></i>
      </ng-template>
      <img
        src="assets/logo-madkat.png"
        alt="logo madkat"
        class="header__logo"
      />
    </div>
    <div class="header__container">
      <i class="pi pi-user">Cuenta</i>
      <i class="pi pi-shopping-cart">Carrito</i>
    </div>
  </div>
  <nav class="header__nav" [ngClass]="{ 'menu-visible': menuVisible$ | async }">
    <div class="header__nav--side header__nav--wrapper">
      <ul class="header__ul">
        <li routerLink="" class="header__li--strong" (click)="ocultarMenu()">
          {{ titleHome }}
        </li>
        <li
          class="header__li"
          *ngFor="let i of itemsNav"
          [routerLink]="i.router"
          (click)="ocultarMenu()"
        >
          {{ i.title | uppercase }}
        </li>
        <li
          class="header__li--strong"
          *ngFor="let i of itemsNavAuth"
          [routerLink]="i.router"
          (click)="ocultarMenu()"
        >
          {{ i.title }}
        </li>
      </ul>
    </div>
  </nav>
</header>
<!-- Componente home -->
<div class="wrapper router--outlet">
  <router-outlet></router-outlet>
</div>

<!-- Componente footer -->
