.login {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: start;
  width: 100%;
  height: 100vh;

  &__span {
    margin-bottom: 4rem;
    font-size: 1.8rem;
    font-weight: 800;
    text-transform: uppercase;
    width: 100%;
    text-align: start;
    max-width: 20rem;
  }
  &__form {
    display: flex;
    flex-flow: column nowrap;
    gap: 2.5rem;
    width: 100%;
    max-width: 20rem;
  }
  &__inputs {
    display: inline-block;
    width: 100%;
  }
  &__forgot {
    font-weight: bolder;
    font-size: 0.9rem;
    cursor: pointer;
  }
  &__button {
    display: block;
  }
  &__subcontainer {
    display: flex;
    flex-flow: column nowrap;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 20rem;
  }
  &__divider {
    width: 100%;
    max-width: 20rem;
  }
  &__button--register {
    width: 100%;
    display: block;
  }
  &__span--register {
    font-weight: bold;
    font-size: 0.9rem;
  }
  &__errors {
    font-size: 0.8rem;
    color: red;
    font-weight: lighter;
  }
}
.p-password-panel {
  width: 100%;
}
:host ::ng-deep .p-button .login__button--register {
  width: 100%;
}
