@use '../../../../scss/mixings' as m;

.colecciones {
  @include m.medium {
    display: flex;
    gap: 1rem;
    align-items: start;
    justify-content: space-around;
  }
  &__img {
    @include m.medium {
      max-width: 1050px;
    }
  }
  &__gallery {
    max-width: 1050px;
  }
}
.container {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  &__h1 {
    font-size: 1.5rem;
    font-weight: bold;
  }
  &__price {
    font-size: 0.9rem;
    font-weight: 300;
  }
  &__talla {
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
  }
  &__tallas {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
}
.active {
  background-color: rgb(47, 47, 47);
}
