@use '../../../../scss/mixings' as m;

.colecciones {
  @include m.medium {
    display: flex;
    gap: 1rem;
    align-items: start;
    justify-content: space-around;
  }
  &__img {
    @include m.medium {
      max-width: 1050px;
    }
  }
  &__gallery {
    max-width: 1050px;
  }
}
.container {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  &__h1 {
    font-size: 1.5rem;
    font-weight: bold;
  }
  &__price {
    font-size: 0.9rem;
    font-weight: 300;
  }
  &__talla {
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
  }
  &__tallas {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
  &__detalle {
    text-align: center;
    font-weight: bold;
  }
  &__ul {
    display: flex;
    flex-flow: column nowrap;
    gap: 0.5rem;
    align-items: center;
  }
  &__li {
    font-size: 0.9rem;
    list-style: circle;
  }
}
.active {
  background-color: rgb(47, 47, 47);
}

.carrito__fixed {
  position: fixed;
  right: -100%;
  top: 0;
  z-index: 8;
  background-color: rgb(255, 255, 255);
  height: 100vh;
  width: 70vw;
  overflow-y: scroll;
  padding-top: 5rem;
  transition: all 0.5s ease-in-out;
  // display: none;
}
.carrito__show {
  right: 0;
}
