@use '../../../../scss/variables' as v;

.carrito {
  padding: 1rem;
  display: flex;
  flex-flow: column nowrap;
  gap: 2rem;

  &__span {
    color: black;
    font-weight: bold;
    font-size: 1.5rem;
  }
  &__img {
    width: 100%;
    max-width: 4rem;
  }
  &__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: 2rem;
  }
  &__subcontainer {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: start;
    gap: 2rem;
  }
  &__price--tota {
  }
  &__prices {
  }
  &__close--container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__delete--container {
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    justify-content: space-around;
    gap: 2rem;
  }
  &__precio--coleccion {
    font-weight: bold;
    font-size: 1.1rem;
  }
  &__cantidad--coleccion {
    font-size: 0.8rem;
  }
  &__border--separate {
    border-bottom: solid 1px #dee2e6;
  }
}
.close--carrito {
  cursor: pointer;
}
.delete--icon {
  cursor: pointer;
}
